@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  ::selection {
    background-color: #22d3ee;
    color: #0f172a;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/5 backdrop-blur-lg border border-white/10;
  }
  .container-pad {
    @apply px-6 md:px-10 lg:px-16;
  }
  .section {
    @apply min-h-[90svh] py-20 container-pad;
  }
}
